fieldset, input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
fieldset {
    padding: 10px;
    margin:0;
    float: left;
}
#characternum1 {
    width: 25%;
}
#characternum2 {
    width: 25%;
}

input {
    width: 40%;
}
